<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" >
</head>
<body>
    <h1>Welcome!</h1>
        <div class="main">
            {% for i in range(num) %}
                <div class="box"style="background-color:{{color}}"></div>
            {% endfor %}
        </div>
</body>
</html>